{% extends 'users/base.html' %}
{% block navhome %}


<div class="container">
    <h1>CLIENT LIST</h1>
    <hr>
    {% if message %}
    <p style="color: red;">{{ message }}</p>
    {% endif %}
    <table class="table table-bordered table-striped", style="text-align: center;">
        <tr >
            <th style="width: 25%; background-color: rgba(65, 203, 241, 0.399) !important;">Name</th>
            <th style="width: 25%; background-color: rgba(65, 203, 241, 0.399) !important;">Birthday</th>
            <th style="width: 25%; background-color: rgba(65, 203, 241, 0.399) !important;">Telephone</th>
            <th style="width: 12.5%; background-color: rgba(65, 203, 241, 0.399) !important;">EDIT</th>
            <th style="width: 12.5%; background-color: rgba(65, 203, 241, 0.399) !important;">DELETE</th>
        </tr>
        {% for client in clients %}
        <tr>
            <td>{{client.name}}</td>
            <td>{{client.birthday}}</td>
            <td>{{client.telephone}}</td>
            
            <td><a href="{% url 'edit_client' client.id_user %}" class="btn btn-warning" onclick="return confirm('Are you sure you want to EDIT this client?');">EDIT</a></td>
                
            <td><a href="{% url 'delete_client' client.id_user %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to DELETE this client?');">DELETE</a>
            </td>
        </tr>
        {%endfor%}
{%endblock%}