{% extends 'users/base.html' %}
{% block navhome %}


<div class="container">
    <h1>EDIT CLIENT</h1>
    <hr>
    <div class="container">
        <form action="{% url 'edit_client' client.id_user%}" method="POST">{% csrf_token %}
            <label for="name">Name:</label>

            <div class="col-md-6">
                <input type="text" id="name" name="name" value="{{client.name}}" required><br>
            </div>

            <label for="birthday">Birthday:</label>

            <div class="col-md-6">
                <input type="text" id="birth" name="birthday"  placeholder="DD/MM" maxlength="5" value="{{client.birthday}}"><br>
            </div>
    
            <label for="telephone">Telephone:</label>
            
            <div class="col-md-6">
                <input type="text" id="telephone" name="telephone"value="{{client.telephone}}"><br><br>
            </div>
    
            <button value="saveuser"button type="submit" class="btn btn-primary">Save</button>
    
        </form>
    </div>

</div>



{%endblock%}