<head>
    <!-- Outros links e metadados -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>


{% extends 'users/base.html' %}
{% block navhome %} 

<div class="container">
    <h1>REGISTER SERVICE</h1>
    <hr>
    {% if message %}
    <p style="color: red;">{{ message }}</p>
    {% endif %}
    <form action="{% url 'addserv' %}" method="POST">
        {% csrf_token %}

        <label for="name_serv">Name:</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="name_serv" name="name_serv"><br>
        </div>
        
        <label for="price_serv">Price:</label>
        <div class="col-md-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">€</span>
                </div>
                <input type="text" class="form-control" id="price_serv" name="price_serv">
            </div><br>
        </div>

        <label for="min_serv">Service Time:</label>
        <div class="col-md-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-clock"></i></span>
                </div>
                <input type="text" class="form-control" id="min_serv" name="min_serv">
            </div><br>
        </div>

        <button value="saveserv" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

</div>        
{% endblock %}
