{% extends 'users/base.html' %}
{% block navhome %}


<div class="container">
    <h1>REGISTER RESERVATION</h1>
    <hr>
    <form method="post">
    {% csrf_token %}
    <label for="cliente">Client:</label>
    <select name="cliente" id="cliente" required>
        {% for cliente in clientes %}
            <option value="{{ cliente.id_user }}">{{ cliente.name }}</option>
        {% endfor %}
    </select>

    <label for="service">Service:</label>
    <select name="service" id="service" required>
        {% for servico in servicos %}
        <option value="{{ servico.id_serv }}">{{ servico.name_serv }}</option>
        {% endfor %} 
    </select>

    <label for="data">Date of Service:</label>
    <input type="date" name="data" id="data" required>

    <button type="submit">Reservar</button>
</form>

    


</div>
{%endblock%}